@import 'bootstrap';
@import 'bootstrap/theme';

.welcomeToWember {
  text-align: center;
}

.serverTitle {
  text-align: center;
}

.allServers {
  text-align: center;
}

.col-md-12 {
  border: .25px solid gray;
  background-color: #f9f9f7;
}

.col-md-4 {
  border: .25px solid gray;
  background-color: #f9f9f7;
}
