@import 'bootstrap';
@import 'bootstrap/theme';

.welcomeToYamba {
  text-align: center;
}

.boardTitle {
  text-align: center;
}

.allBoards {
  text-align: center;
}

.col-md-12 {
  // border: .25px solid gray;
  //background-color: #f9f9f7;
}

.col-md-4 {
  // border: .25px solid gray;
  background-color: #f9f9f7;
}

.new-page {
  background-color: #f9f9f7;
  border-radius: 4px;
  padding: 3px 5px;
  margin-top: 5px;
}

.page {
  background-color: #f9f9f7;
  border-radius: 4px;
  padding: 3px 5px;
  margin-bottom: 5px;
}

.page img {
  display:block;
  margin:auto;
}


.navbar-default {
    border: none;
    box-shadow: none
}

.btn {
  border: none;
}

.board-card {
  background-color: #f9f9f7;
  border-radius: 4px;
  margin-bottom: 5px;
}

.users {
  background-color: #f9f9f7;
  border-radius: 4px;
}
