<div class="col-md-12 users">
<h2>Users</h2>
{{#each model as |user|}}
<ul>
  <li>
    <li>ID: {{user.id}}</li>
      <ul>
        <li>email: {{user.email}}</li>
       <li>pages: {{#each user.pages as |page|}}{{page.id}}, {{/each}}</li>
        <li>boards: {{#each user.boards as |board|}}{{board.name}}, {{/each}}</li>
      </ul>
  </li>
</ul>
{{/each}}
</div>
