<h2 class="serverTitle">Server: {{server.name}}</h2>

   {{#each server.pages as |page|}}

    {{servers-pages/pages page=page
                       delete='deletePage'}}

   {{/each}}

{{new-page createPage='createPage' server=server}}

{{yield}}
