<div class="col-md-4 page">
<h3>{{page.title}}</h3>

<h2>{{page.body}}</h2>

{{#if page.canBeDeleted}}
<button class="btn btn-xs btn-danger" {{action 'delete'}}>
   Delete
</button>
{{/if}}
</div>

{{yield}}
