<h1 class="allServers">Boards</h1>

{{#each model as |board|}}
  {{board-card board=board delete='deleteServer' edit='editBoard'}}
{{/each}}

{{new-board createBoard='createBoard' board=board}}

{{outlet}}
