<h1 class="allServers">Boards</h1>

{{#each model as |board|}}
  {{board-card board=board delete='deleteServer' edit='editServer'}}
{{/each}}

{{new-board createServer='createServer' board=board}}

{{outlet}}
